body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2c2f33;
    color: #dcddde;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.discord-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: auto;
    background-color: #36393f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.sidebar {
    background-color: #2f3136;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 7rem;
}

.server-icon {
    width: 50px;
    height: 50px;
    background-color: #7289da;
    border-radius: 50%;
    margin: 10px 0;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.server-icon:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #40444b;
    color: #dcddde;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.server-icon:hover::after {
    opacity: 1;
}

.profile-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.profile-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #99aab5;
    padding-top: 5rem;
}

#profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #7289da;
    margin-right: 20px;
}

#username {
    font-size: 40px;
    color: #ffffff;
    margin: 0;
}

#status {
    color: #43b581;
    font-size: 1em;
    margin-left: 15px;
}

.profile-details {
    margin-top: 30px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2f3136;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.profile-details:hover {
    transform: translateY(-5px);
}

.details-container {
    background-color: #40444b;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.detail-item {
    padding: 20px;
    background-color: #2f3136;
    border-radius: 5px;
    font-size: 16px;
    color: #dcddde;
    transition: background-color 0.3s;
}

.detail-item:hover {
    background-color: #495057;
}

.label {
    font-weight: bold;
    font-size: 28px;
    color: #99aab5;
    margin-bottom: 10px;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    font-size: 16px;
    color: #dcddde;
    padding: 5px 0;
    border-bottom: 1px solid #40444b;
}

ul li:last-child {
    border-bottom: none;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer a {
    color: #7289da;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #40444b;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

footer a:hover {
    background-color: #495057;
    text-decoration: underline;
}

.info, .hobbies, .skills, .interests {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #2f3136;
    font-size: 16px;
    width: 100%;
}

.label {
    font-weight: bold;
    color: #99aab5;
    margin-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    color: #dcddde;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer a {
    color: #7289da;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    width: 90%;
    background-color: #36393f;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #7289da;
    margin-bottom: 20px;
}

.work-list {
    margin-top: 30px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    border: 2px solid #99aab5;
    border-radius: 10px;
    background-color: #2f3136;
}

.work-item {
    margin: 20px 0; /* Increase margin for more spacing between items */
    background-color: #40444b;
    border-radius: 10px; /* Maintain rounded corners */
    transition: background-color 0.3s;
    min-height: 150px; /* Set a minimum height for work items */
    text-align: center; /* Center-align text inside work items */
}

.work-item:hover {
    background-color: #495057;
}

.work-item span {
    display: block;
    color: #dcddde;
}

.work-name {
    font-size: 28px; /* Set a larger font size for work names */
    color: #dcddde; /* Maintain text color */
    margin-bottom: 10px; /* Add some space below the name */
    text-align: center; /* Center the name */
}

.work-item a {
    color: #7289da;
    text-decoration: none;
    font-size: 20px; /* Adjust font size for links */
}

.work-item a:hover {
    text-decoration: underline;
}

button {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    font-size: 16px;
    display: block;
    text-align: center;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #677bc4;
}

#returnMenuBtn {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    width: auto;
    font-size: 16px;
    display: block;
    text-align: center;
}

.work-image {
    width: auto;
    height: 500px;
    max-width: 900px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}


#returnMenuBtn:hover {
    background-color: #677bc4;
}

@media (max-width: 768px) {
    .discord-container {
        flex-direction: column;
        height: auto;
    }

    .profile-header {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        position: absolute;
        margin-top: 10rem;
    }

    .work-image {
        width: 100vh;
    }

    #profile-pic {
        margin-top: 10rem;
    }

    #username {
        font-size: 30px;
    }

    h1 {
        font-size: 28px;
    }

    .work-item {
        font-size: 14px;
        padding: 10px;
    }

    .info, .hobbies, .skills, .interests {
        font-size: 14px;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .info, .hobbies, .skills, .interests {
        font-size: 14px;
    }

    button, #returnMenuBtn {
        padding: 10px 20px;
        font-size: 14px;
    }
}

